/node_modules
/vendor
/storage/*.key
/.git
/.idea
/.vscode
/.phpunit.result.cache
/tests
/phpunit.xml
/.env
/public/build
/public/storage
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*.php
/storage/logs/*.log
npm-debug.log
docker-compose.yml
Dockerfile
.dockerignore
